language: java

jdk:
  - oraclejdk8
  - oraclejdk9
  - oraclejdk10
  - oraclejdk11
  - openjdk8
  - openjdk9
  - openjdk10
  - openjdk11

branches:
  only:
    - master

cache:
  directories:
    - "$HOME/.m2"
